<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List category</title>
</head>
<body>
<a href="/create-category">Create category</a>
<!--/*@thymesVar id="message" type=""*/-->
<div th:if="${message}">
    <span th:text="${message}"></span>
</div>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name category</th>
    </tr>
    </thead>
    <tbody>

    <th:block th:each="o : ${categorys}">
        <tr>
            <td th:text="${o.id}"></td>
            <td th:text="${o.name}"></td>
            <td><a th:href="@{/edit-category/__${o.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete-category/__${o.id}__ }">Delete</a></td>
        </tr>
    </th:block>

    </tbody>
</table>
</body>
</html>