<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#editSmartphoneForm').submit(function (event) {
                var producer = $('#producer').val();
                var model = $('#model').val();
                var price = $('#price').val();
                var json = {"producer": producer, "model": model, "price": price};
                $.ajax({
                    url: $("#editSmartphoneForm").attr("action"),
                    data: JSON.stringify(json),
                    type: "POST",

                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("Accept", "application/json");
                        xhr.setRequestHeader("Content-Type", "application/json");
                    },
                    success: function (smartphone) {
                        var respContent = "";

                        respContent += "<span class='success'>Smartphone was edited: [";
                        respContent += smartphone.producer + " : ";
                        respContent += smartphone.model + " : ";
                        respContent += smartphone.price + "]</span>";
                        $("#sPhoneFromResponse").html(respContent);
                    }
                });
                event.preventDefault();
            });
        });
    </script>
</head>
<body>
<form id="editSmartphoneForm" th:object="${smartphone}">
    <table>
        <tr>
            <td>Producer:</td>
            <td><input type="text" id="producer" placeholder="producer" th:field="*{producer}"></td>
        </tr>
        <tr>
            <td>Model:</td>
            <td><input type="text" id="model" placeholder="model" th:field="*{model}"></td>
        </tr>
        <tr>
            <td>Price:</td>
            <td><input type="text" id="price" placeholder="price" th:field="*{price}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update"></td>
        </tr>
    </table>
</form>
</body>
</html>