<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h3>Them moi bai hat</h3>

<p>
    <a th:href="@{/music/list}">
        Quay ve danh sach bai hat
    </a>
</p>

<div id="form">
    <form th:action="@{/music/save}" th:object="${musicForm}"
          method="POST" novalidate="novalidate" enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Ten bai hat</label>
            <input type="text" th:field="*{tenbaihat}"/>
        </div>
        <div>
            <label>Nghe si the hien</label>
            <input type="text" th:field="*{nghesithehien}"/>
        </div>
        <div>
            <label>The loai</label>
            <input type="text" th:field="*{theloai}"/>
        </div>
        <div>
            <label>Bai hat</label>
            <input type="file" th:field="*{duongdan}"/>
        </div>
        <input type="submit" value="Save"/>
    </form>
</div>
</body>
</html>