<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Thông tin sản phẩm</h3>
<p>
    <a th:href="@{/product/list}">
        Quay về danh sách
    </a>
</p>
<div id="detail">
    <div class="cusdetail">
        <label>Tên sản phẩm:</label>
        <label th:text="${product.tensp}"></label>
    </div>
    <div class="cusdetail">
        <label>Giá:</label>
        <label th:text="${product.gia}"></label>
    </div>
    <div class="cusdetail">
        <label>Mô tả:</label>
        <label th:text="${product.mota}"></label>
    </div>
    <div class="cusdetail">
        <label>Nhà sản xuất:</label>
        <label th:text="${product.nsx}"></label>
    </div>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>